button {
  border: none;
  cursor: pointer;
  padding: 10px 15px;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  max-width: 56.25rem;
  margin: 0 auto;
  padding: 0 0.9375rem;
  display: flex;
  justify-content: space-around;
}

#usersTable,
#productsTable {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.tables__row {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

table {
  border-collapse: collapse;
  width: 100%;
}

.table__body .table__header {
  width: 100%;
}

th,
td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

td {
  position: relative;
}

th {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #f5f5f5;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

.options {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 14vh;
}

.add__btn,
.add {
  background-color: green;
  border-radius: 4px;
  font-size: 1.125rem;
}

.cancel {
  background-color: gray;
  border-radius: 4px;
  font-size: 1.125rem;
  margin-left: 0.3125rem;
}

.confirm {
  background-color: green;
  border-radius: 4px;
  font-size: 1.125rem;
}

.find__btn {
  background-color: blueviolet;
  border-radius: 4px;
  font-size: 1.125rem;
}

.del__btn {
  background-color: red;
  font-size: 1.5rem;
  border-radius: 4px;
  margin-right: 0.1563rem;
}

.edt__btn {
  background-color: yellow;
  font-size: 1.5rem;
  border-radius: 4px;
  margin-left: 0.1563rem;
}

.action__panel {
  padding: 3.125rem;
  margin-left: 1.25rem;
}

.add__button {
  margin-top: 0.625rem;
}

.highlighted {
  background-color: rgba(255, 0, 0, 0.5);
}
